<ion-content [fullscreen]="true">

  <ion-button routerLink="/login" class="back-button">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <div class="center-container">

    <div class="title-container">
      <h1>Recupera tu Contraseña</h1>
    </div>

    <div class="img-container">
      <img src="../../assets/icon/user.png" alt="Recuperar Contraseña">
    </div>

    <div class="recover-password-container">
      <!-- Formulario -->
      <form [formGroup]="recoverForm">
        <!-- Campo Email -->
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input
            type="email"
            id="email"
            class="input-field"
            placeholder="Ingrese Tú Correo"
            formControlName="email">
        </div>

        <!-- Botón Enviar -->
        <ion-button
          expand="block"
          (click)="recoverPassword()"
          >
          Enviar
        </ion-button>
      </form>
    </div>

  </div>
</ion-content>
