<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pagar Boleto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagar Boleto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2 style="color: black;">Detalles del Boleto</h2>
    <ion-card style="background-color: #ffffff;" color="#F6BA67">
      <ion-card-header>
        <ion-card-title>Boleto Seleccionado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Origen:</strong> Quito</p>
        <p><strong>Destino:</strong> Guayaquil</p>
        <p><strong>Fecha:</strong> 18 de Noviembre, 2024</p>
        <p><strong>Hora:</strong> 10:00 AM</p>
        <p><strong>Precio:</strong> $32.20</p>
      </ion-card-content>
    </ion-card>

    <h2 style="color: black;">Seleccionar Método de Pago</h2>



    <!-- Contenedor para el botón de PayPal -->
    <div  id="paypal-button-container"></div>

    
  </div>
</ion-content>

<!-- Script para integrar PayPal -->
<script src="https://www.paypal.com/sdk/js?client-id=AQlaJUf_I2iYP7v1-EMbZU4v7k7x9NRmuIb6WN1-ebjBhh5LkPWuixf1-7TdJXZTniYPexF9EciDD76M&currency=USD"></script>
