<ion-tabs>

  <ion-tab-bar slot="bottom" color="gray">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" src="../../assets/icon/home.svg" size="large" class="icon" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mis-boletos" href="/tabs/mis-boletos">
      <ion-icon aria-hidden="true" src="../../assets/icon/ticket.svg" size="large" class="icon"  color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="busqueda" href="/tabs/busqueda">
      <ion-icon aria-hidden="true" src="../../assets/icon/bus.svg" size="large" class="icon" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mi-cuenta" href="/tabs/mi-cuenta">
      <ion-icon aria-hidden="true" src="../../assets/icon/person.svg" size="large" class="icon" color="primary"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
