<ion-tabs>

  <ion-tab-bar slot="bottom" color="gray">
    <ion-tab-button tab="escaner" href="/conductor/escaner">
      <ion-icon aria-hidden="true" src="../../assets/icon/scan.svg" size="large" class="icon" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="list-passenger" href="/conductor/list-passenger">
      <ion-icon aria-hidden="true" src="../../assets/icon/bus.svg" size="large" class="icon" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mi-cuenta" href="/conductor/mi-cuenta">
      <ion-icon aria-hidden="true" src="../../assets/icon/person.svg" size="large" class="icon" color="primary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
